<div class="flex text-sm gap-2 items-center">
    <svg lucideCircleUser size="40"></svg>
    @if(!isLogged) {
        <nav class="flex flex-col items-center">
            <a class="cursor-pointer active:cursor-default" routerLink="/login">Entrar</a>
            <a class="cursor-pointer active:cursor-default" routerLink="/register">cadastrar</a>
        </nav>
    }@else {
        <button 
        class="cursor-pointer active:cursor-default"
        (click)="logout()"
        type="button">logout</button>
    }
</div>
