<header class="flex flex-col gap-2 relative pt-5">
    <!-- =============== sessão da conta ================= -->
    <section class="flex flex-row absolute top-6 right-50">
        <app-account />
    </section>
    <!-- ================================================= -->
    <!-- ============== Sessão do carrinho =============== -->
    <section class="flex flex-row absolute right-10">
        <app-cart />
    </section>
    <!-- ================================================= -->
    <!-- =============== sessão de pesquisa ============== -->
    <section>
        <app-search class="flex justify-center" />
    </section>
    <!-- ================================================= -->
    <!-- ============= sessão de categorias =============== -->
    <section>
        <app-category />
    </section>
    <!-- ================================================= -->
</header>
