<header class="flex flex-col gap-2 relative pt-5">
    <section class="flex flex-row justify-center gap-10">
        <div class="w-100"></div>
        
        <!-- =============== sessão de pesquisa ============== -->
        <app-search />
        <!-- ================================================= -->
        
        <section class="flex flex-row justify-center items-center w-100 gap-50 max-w-100">
            
            <!-- =============== sessão da conta ================= -->
            <app-account />
            <!-- ================================================= -->
            
            <!-- ============== Sessão do carrinho =============== -->
            <app-cart />
            <!-- ================================================= -->
        </section>
    </section>
    <!-- ============= sessão de categorias =============== -->
    <section>
        <app-category />
    </section>
    <!-- ================================================= -->
</header>
